.overview {
    height: 5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px white solid;
}

.overview .index {
    height: 5rem;
    width: 5rem;
    /*枠線*/
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}
.overview .times {
    /*width: 100%;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.overview .times p {
    font-size: 1.5rem;
}