/* html */
html {
    font-size: 70%;
    scroll-behavior: smooth;
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:1s;
    animation-timing-function:ease;
    animation-delay: 0.1s;
    animation-direction:normal;
    /* animation-iteration-count: 1; */
  }

/* body */
body {
    font-family: "Public Sans", NotoSans-medium, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, メイリオ, Meiryo, sans-serif;
    background-color: #d2f0fab6;
    color: #636363;
}

/* body-other */
a {
    text-decoration: none;
    color: #fff;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;

}

.container {
    margin-top: 0.2rem;
    /* padding: 2rem; */
}

.order-parent {
    max-height: 100vh;
    overflow-y:scroll;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}

.order-child:hover{
    background: #e7e7e7b0;
}

.order-parent .top-info {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.order-child {
    padding: 0.7rem;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    margin: 2rem;
    transition: all 0.3ms;
}

.order-child .top-info {
    display: flex;
    margin-bottom: 1rem;
}

.order-menue {
    border-radius: 10px;
    border: 1px solid #b3b3b3;
    margin: 0.7rem 0;
    transition: all 0.3ms;
}

.order-menue:hover {
    background: #e7e7e7;
}

.menue-main {
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
}

.menue-topping {
    padding: 0.7rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted #b3b3b3;
}

.t-r {
    text-align: right;
}