/* header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin-bottom: 1rem;
    padding: 0 3%;
    background-color: #ffffff75;
    border-radius: 20px;
    box-shadow: 0 0 25px 0 rgba(197, 197, 197, 0.5);
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header ul li {
    font-size: 1rem;
    margin-left: 30px;
}

#header ul li a {
    color:#747474;
    /* color: #252525; */
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

#header ul li img.icon {
    width: 30px;
}

/* sitetitle */
.site_title {
    font-size: 1.4rem;
    transition: all 0.3s;
}

.point_text {
    text-align: center;
    margin: 60px auto;
    font-size: 2rem;
}

.site_title:hover {
    opacity: 0.5;
}

.site_title a {
    display: block;
    /* color: #252525; */
    color: #747474;
}
