/* html */
html {
  font-size: 90%;
  scroll-behavior: smooth;
  animation-name: fadeInAnime;
  animation-fill-mode:backwards;
  animation-duration:1s;
  animation-timing-function:ease;
  animation-delay: 0.1s;
  animation-direction:normal;
  /* animation-iteration-count: 1; */
}

/* body */
body {
  font-family: "Public Sans", NotoSans-medium, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, メイリオ, Meiryo, sans-serif;
  background-color: #d2f0fab6;
  color: #494949;
}

/* body-other */
a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
  font-size: 1.2rem;

}
/* master-wrapper */
.master-wrapper {
  max-width: 1860px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 4%;
}
